{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!-- Custom -->
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">

    <title>CAPSLG</title>
  </head>
  <body>
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">College Admission Predictor and Smart List Generator</a>
        </div>
        <ul class="nav navbar-nav navbar-right">
          <li class="active"><a href="#">Home</a></li>
          <li><a href="#">Page 1</a></li>
          <li><a href="#">Page 2</a></li>
          <li><a href="#">Page 3</a></li>
        </ul>
      </div>
    </nav>

    <div class="container-fluid form-container">
      <form action="#">
        <div class="form-group">
          <label for="email">MHT-CET Score:</label>
          <input type="email" class="form-control" id="email">
        </div>
        <div class="form-group">
          <label for="pwd">College:</label>
          <select class="form-control" name="colleges">
            <option value="KJSCE">K. J. Somaiya College Of Engineering</option>
            <option value="SPIT">Sardar Patel Institute of Technology</option>
            <option value="VJTI">Veermata Jijabai Technological Institute</option>
          </select>
        </div>
        <button type="submit" class="btn btn-primary">Check Probability</button>
      </form>
    </div>
  </body>
</html>
